{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Messages",
    "description": "The MessageMedia Messages API provides a number of endpoints for building powerful two-way messaging applications."
  },
  "host": "api.messagemedia.com",
  "basePath": "/",
  "securityDefinitions": {
    "auth": {
      "type": "basic",
      "x-testValue": [],
      "x-skip-client-authentication": false
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/delivery_reports/confirmed": {
      "post": {
        "description": "Mark a delivery report as confirmed so it is no longer return in check delivery reports requests.\nThe confirm delivery reports endpoint is intended to be used in conjunction with the check delivery\nreports endpoint to allow for robust processing of delivery reports. Once one or more delivery\nreports have been processed, they can then be confirmed using the confirm delivery reports endpoint so they\nare no longer returned in subsequent check delivery reports requests.\nThe confirm delivery reports endpoint takes a list of delivery report IDs as follows:\n```json\n{\n    \"delivery_report_ids\": [\n        \"011dcead-6988-4ad6-a1c7-6b6c68ea628d\",\n        \"3487b3fa-6586-4979-a233-2d1b095c7718\",\n        \"ba28e94b-c83d-4759-98e7-ff9c7edb87a1\"\n    ]\n}\n```\nUp to 100 delivery reports can be confirmed in a single confirm delivery reports request.",
        "summary": "Confirm delivery reports as received",
        "tags": [
          "Delivery Reports"
        ],
        "operationId": "V1DeliveryReportsConfirmedPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConfirmDeliveryReportsAsReceivedRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {}
          },
          "400": {
            "description": "",
            "schema": {}
          },
          "402": {
            "description": "The feature that you are trying to use is disabled by default. Please contact tech support at support@messagemedia.com.au",
            "schema": {}
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/v1/delivery_reports/confirmed",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"delivery_report_ids\": [        \"011dcead-6988-4ad6-a1c7-6b6c68ea628d\",        \"3487b3fa-6586-4979-a233-2d1b095c7718\",        \"ba28e94b-c83d-4759-98e7-ff9c7edb87a1\"    ]}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Confirm delivery reports as received1",
            "x-testDescription": "Mark a delivery report as confirmed so it is no longer return in check delivery reports requests.\nThe confirm delivery reports endpoint is intended to be used in conjunction with the check delivery\nreports endpoint to allow for robust processing of delivery reports. Once one or more delivery\nreports have been processed, they can then be confirmed using the confirm delivery reports endpoint so they\nare no longer returned in subsequent check delivery reports requests.\nThe confirm delivery reports endpoint takes a list of delivery report IDs as follows:\n```json\n{\n    \"delivery_report_ids\": [\n        \"011dcead-6988-4ad6-a1c7-6b6c68ea628d\",\n        \"3487b3fa-6586-4979-a233-2d1b095c7718\",\n        \"ba28e94b-c83d-4759-98e7-ff9c7edb87a1\"\n    ]\n}\n```\nUp to 100 delivery reports can be confirmed in a single confirm delivery reports request."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/replies/confirmed": {
      "post": {
        "description": "Mark a reply message as confirmed so it is no longer returned in check replies requests.\nThe confirm replies endpoint is intended to be used in conjunction with the check replies endpoint\nto allow for robust processing of reply messages. Once one or more reply messages have been processed\nthey can then be confirmed using the confirm replies endpoint so they are no longer returned in\nsubsequent check replies requests.\nThe confirm replies endpoint takes a list of reply IDs as follows:\n```json\n{\n    \"reply_ids\": [\n        \"011dcead-6988-4ad6-a1c7-6b6c68ea628d\",\n        \"3487b3fa-6586-4979-a233-2d1b095c7718\",\n        \"ba28e94b-c83d-4759-98e7-ff9c7edb87a1\"\n    ]\n}\n```\nUp to 100 replies can be confirmed in a single confirm replies request.",
        "summary": "Confirm replies as received",
        "tags": [
          "Replies"
        ],
        "operationId": "V1RepliesConfirmedPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConfirmRepliesAsReceivedRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {}
          },
          "400": {
            "description": "",
            "schema": {}
          },
          "402": {
            "description": "The feature that you are trying to use is disabled by default. Please contact tech support at support@messagemedia.com.au",
            "schema": {}
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/v1/replies/confirmed",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"reply_ids\": [        \"011dcead-6988-4ad6-a1c7-6b6c68ea628d\",        \"3487b3fa-6586-4979-a233-2d1b095c7718\",        \"ba28e94b-c83d-4759-98e7-ff9c7edb87a1\"    ]}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Confirm replies as received1",
            "x-testDescription": "Mark a reply message as confirmed so it is no longer returned in check replies requests.\nThe confirm replies endpoint is intended to be used in conjunction with the check replies endpoint\nto allow for robust processing of reply messages. Once one or more reply messages have been processed\nthey can then be confirmed using the confirm replies endpoint so they are no longer returned in\nsubsequent check replies requests.\nThe confirm replies endpoint takes a list of reply IDs as follows:\n```json\n{\n    \"reply_ids\": [\n        \"011dcead-6988-4ad6-a1c7-6b6c68ea628d\",\n        \"3487b3fa-6586-4979-a233-2d1b095c7718\",\n        \"ba28e94b-c83d-4759-98e7-ff9c7edb87a1\"\n    ]\n}\n```\nUp to 100 replies can be confirmed in a single confirm replies request."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/delivery_reports": {
      "get": {
        "description": "Check for any delivery reports that have been received.\nDelivery reports are a notification of the change in status of a message as it is being processed.\nEach request to the check delivery reports endpoint will return any delivery reports received that\nhave not yet been confirmed using the confirm delivery reports endpoint. A response from the check\ndelivery reports endpoint will have the following structure:\n```json\n{\n    \"delivery_reports\": [\n        {\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"delivery_report_id\": \"01e1fa0a-6e27-4945-9cdb-18644b4de043\",\n            \"source_number\": \"+61491570157\",\n            \"date_received\": \"2017-05-20T06:30:37.642Z\",\n            \"status\": \"enroute\",\n            \"delay\": 0,\n            \"submitted_date\": \"2017-05-20T06:30:37.639Z\",\n            \"original_text\": \"My first message!\",\n            \"message_id\": \"d781dcab-d9d8-4fb2-9e03-872f07ae94ba\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            }\n        },\n        {\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"delivery_report_id\": \"0edf9022-7ccc-43e6-acab-480e93e98c1b\",\n            \"source_number\": \"+61491570158\",\n            \"date_received\": \"2017-05-21T01:46:42.579Z\",\n            \"status\": \"enroute\",\n            \"delay\": 0,\n            \"submitted_date\": \"2017-05-21T01:46:42.574Z\",\n            \"original_text\": \"My second message!\",\n            \"message_id\": \"fbb3b3f5-b702-4d8b-ab44-65b2ee39a281\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            }\n        }\n    ]\n}\n```\nEach delivery report will contain details about the message, including any metadata specified\nand the new status of the message (as each delivery report indicates a change in status of a\nmessage) and the timestamp at which the status changed. Every delivery report will have a \nunique delivery report ID for use with the confirm delivery reports endpoint.\n*Note: The source number and destination number properties in a delivery report are the inverse of\nthose specified in the message that the delivery report relates to. The source number of the\ndelivery report is the destination number of the original message.*\nSubsequent requests to the check delivery reports endpoint will return the same delivery reports\nand a maximum of 100 delivery reports will be returned in each request. Applications should use the\nconfirm delivery reports endpoint in the following pattern so that delivery reports that have been\nprocessed are no longer returned in subsequent check delivery reports requests.\n1. Call check delivery reports endpoint\n2. Process each delivery report\n3. Confirm all processed delivery reports using the confirm delivery reports endpoint\n*Note: It is recommended to use the Webhooks feature to receive reply messages rather than\npolling the check delivery reports endpoint.*",
        "summary": "Check delivery reports",
        "tags": [
          "Delivery Reports"
        ],
        "operationId": "V1DeliveryReportsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CheckDeliveryReportsResponse"
            },
            "examples": {
              "application/json": {
                "delivery_reports": [
                  {
                    "callback_url": "https://my.callback.url.com",
                    "delivery_report_id": "01e1fa0a-6e27-4945-9cdb-18644b4de043",
                    "source_number": "+61491570157",
                    "date_received": "2017-05-20T06:30:37.642Z",
                    "status": "enroute",
                    "delay": 0,
                    "submitted_date": "2017-05-20T06:30:37.639Z",
                    "original_text": "My first message!",
                    "message_id": "d781dcab-d9d8-4fb2-9e03-872f07ae94ba",
                    "vendor_account_id": {
                      "vendor_id": "MessageMedia",
                      "account_id": "MyAccount"
                    },
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2"
                    }
                  },
                  {
                    "callback_url": "https://my.callback.url.com",
                    "delivery_report_id": "0edf9022-7ccc-43e6-acab-480e93e98c1b",
                    "source_number": "+61491570158",
                    "date_received": "2017-05-21T01:46:42.579Z",
                    "status": "enroute",
                    "delay": 0,
                    "submitted_date": "2017-05-21T01:46:42.574Z",
                    "original_text": "My second message!",
                    "message_id": "fbb3b3f5-b702-4d8b-ab44-65b2ee39a281",
                    "vendor_account_id": {
                      "vendor_id": "MessageMedia",
                      "account_id": "MyAccount"
                    },
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2"
                    }
                  }
                ]
              }
            }
          },
          "402": {
            "description": "The feature that you are trying to use is disabled by default. Please contact tech support at support@messagemedia.com.au",
            "schema": {}
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/v1/delivery_reports"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"delivery_reports\": [        {            \"callback_url\": \"https://my.callback.url.com\",            \"delivery_report_id\": \"01e1fa0a-6e27-4945-9cdb-18644b4de043\",            \"source_number\": \"+61491570157\",            \"date_received\": \"2017-05-20T06:30:37.642Z\",            \"status\": \"enroute\",            \"delay\": 0,            \"submitted_date\": \"2017-05-20T06:30:37.639Z\",            \"original_text\": \"My first message!\",            \"message_id\": \"d781dcab-d9d8-4fb2-9e03-872f07ae94ba\",            \"vendor_account_id\": {                \"vendor_id\": \"MessageMedia\",                \"account_id\": \"MyAccount\"            },            \"metadata\": {                \"key1\": \"value1\",                \"key2\": \"value2\"            }        },        {            \"callback_url\": \"https://my.callback.url.com\",            \"delivery_report_id\": \"0edf9022-7ccc-43e6-acab-480e93e98c1b\",            \"source_number\": \"+61491570158\",            \"date_received\": \"2017-05-21T01:46:42.579Z\",            \"status\": \"enroute\",            \"delay\": 0,            \"submitted_date\": \"2017-05-21T01:46:42.574Z\",            \"original_text\": \"My second message!\",            \"message_id\": \"fbb3b3f5-b702-4d8b-ab44-65b2ee39a281\",            \"vendor_account_id\": {                \"vendor_id\": \"MessageMedia\",                \"account_id\": \"MyAccount\"            },            \"metadata\": {                \"key1\": \"value1\",                \"key2\": \"value2\"            }        }    ]}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Check delivery reports1",
            "x-testDescription": "Check for any delivery reports that have been received.\nDelivery reports are a notification of the change in status of a message as it is being processed.\nEach request to the check delivery reports endpoint will return any delivery reports received that\nhave not yet been confirmed using the confirm delivery reports endpoint. A response from the check\ndelivery reports endpoint will have the following structure:\n```json\n{\n    \"delivery_reports\": [\n        {\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"delivery_report_id\": \"01e1fa0a-6e27-4945-9cdb-18644b4de043\",\n            \"source_number\": \"+61491570157\",\n            \"date_received\": \"2017-05-20T06:30:37.642Z\",\n            \"status\": \"enroute\",\n            \"delay\": 0,\n            \"submitted_date\": \"2017-05-20T06:30:37.639Z\",\n            \"original_text\": \"My first message!\",\n            \"message_id\": \"d781dcab-d9d8-4fb2-9e03-872f07ae94ba\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            }\n        },\n        {\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"delivery_report_id\": \"0edf9022-7ccc-43e6-acab-480e93e98c1b\",\n            \"source_number\": \"+61491570158\",\n            \"date_received\": \"2017-05-21T01:46:42.579Z\",\n            \"status\": \"enroute\",\n            \"delay\": 0,\n            \"submitted_date\": \"2017-05-21T01:46:42.574Z\",\n            \"original_text\": \"My second message!\",\n            \"message_id\": \"fbb3b3f5-b702-4d8b-ab44-65b2ee39a281\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            }\n        }\n    ]\n}\n```\nEach delivery report will contain details about the message, including any metadata specified\nand the new status of the message (as each delivery report indicates a change in status of a\nmessage) and the timestamp at which the status changed. Every delivery report will have a \nunique delivery report ID for use with the confirm delivery reports endpoint.\n*Note: The source number and destination number properties in a delivery report are the inverse of\nthose specified in the message that the delivery report relates to. The source number of the\ndelivery report is the destination number of the original message.*\nSubsequent requests to the check delivery reports endpoint will return the same delivery reports\nand a maximum of 100 delivery reports will be returned in each request. Applications should use the\nconfirm delivery reports endpoint in the following pattern so that delivery reports that have been\nprocessed are no longer returned in subsequent check delivery reports requests.\n1. Call check delivery reports endpoint\n2. Process each delivery report\n3. Confirm all processed delivery reports using the confirm delivery reports endpoint\n*Note: It is recommended to use the Webhooks feature to receive reply messages rather than\npolling the check delivery reports endpoint.*"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/replies": {
      "get": {
        "description": "Check for any replies that have been received.\nReplies are messages that have been sent from a handset in response to a message sent by an\napplication or messages that have been sent from a handset to a inbound number associated with\nan account, known as a dedicated inbound number (contact <support@messagemedia.com> for more\ninformation on dedicated inbound numbers).\nEach request to the check replies endpoint will return any replies received that have not yet\nbeen confirmed using the confirm replies endpoint. A response from the check replies endpoint\nwill have the following structure:\n```json\n{\n    \"replies\": [\n        {\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            },\n            \"message_id\": \"877c19ef-fa2e-4cec-827a-e1df9b5509f7\",\n            \"reply_id\": \"a175e797-2b54-468b-9850-41a3eab32f74\",\n            \"date_received\": \"2016-12-07T08:43:00.850Z\",\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"destination_number\": \"+61491570156\",\n            \"source_number\": \"+61491570157\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"content\": \"My first reply!\"\n        },\n        {\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            },\n            \"message_id\": \"8f2f5927-2e16-4f1c-bd43-47dbe2a77ae4\",\n            \"reply_id\": \"3d8d53d8-01d3-45dd-8cfa-4dfc81600f7f\",\n            \"date_received\": \"2016-12-07T08:43:00.850Z\",\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"destination_number\": \"+61491570157\",\n            \"source_number\": \"+61491570158\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"content\": \"My second reply!\"\n        }\n    ]\n}\n```\nEach reply will contain details about the reply message, as well as details of the message the reply was sent\nin response to, including any metadata specified. Every reply will have a reply ID to be used with the\nconfirm replies endpoint.\n*Note: The source number and destination number properties in a reply are the inverse of those\nspecified in the message the reply is in response to. The source number of the reply message is the\nsame as the destination number of the original message, and the destination number of the reply\nmessage is the same as the source number of the original message. If a source number\nwasn't specified in the original message, then the destination number property will not be present\nin the reply message.*\nSubsequent requests to the check replies endpoint will return the same reply messages and a maximum\nof 100 replies will be returned in each request. Applications should use the confirm replies endpoint\nin the following pattern so that replies that have been processed are no longer returned in\nsubsequent check replies requests.\n1. Call check replies endpoint\n2. Process each reply message\n3. Confirm all processed reply messages using the confirm replies endpoint\n*Note: It is recommended to use the Webhooks feature to receive reply messages rather than polling\nthe check replies endpoint.*",
        "summary": "Check replies",
        "tags": [
          "Replies"
        ],
        "operationId": "V1RepliesGet",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CheckRepliesResponse"
            },
            "examples": {
              "application/json": {
                "replies": [
                  {
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2"
                    },
                    "message_id": "877c19ef-fa2e-4cec-827a-e1df9b5509f7",
                    "reply_id": "a175e797-2b54-468b-9850-41a3eab32f74",
                    "date_received": "2016-12-07T08:43:00.85Z",
                    "callback_url": "https://my.callback.url.com",
                    "destination_number": "+61491570156",
                    "source_number": "+61491570157",
                    "vendor_account_id": {
                      "vendor_id": "MessageMedia",
                      "account_id": "MyAccount"
                    },
                    "content": "My first reply!"
                  },
                  {
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2"
                    },
                    "message_id": "8f2f5927-2e16-4f1c-bd43-47dbe2a77ae4",
                    "reply_id": "3d8d53d8-01d3-45dd-8cfa-4dfc81600f7f",
                    "date_received": "2016-12-07T08:43:00.85Z",
                    "callback_url": "https://my.callback.url.com",
                    "destination_number": "+61491570157",
                    "source_number": "+61491570158",
                    "vendor_account_id": {
                      "vendor_id": "MessageMedia",
                      "account_id": "MyAccount"
                    },
                    "content": "My second reply!"
                  }
                ]
              }
            }
          },
          "402": {
            "description": "The feature that you are trying to use is disabled by default. Please contact tech support at support@messagemedia.com.au",
            "schema": {}
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/v1/replies"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"replies\": [    {      \"metadata\": {        \"key1\": \"value1\",        \"key2\": \"value2\"      },      \"message_id\": \"877c19ef-fa2e-4cec-827a-e1df9b5509f7\",      \"reply_id\": \"a175e797-2b54-468b-9850-41a3eab32f74\",      \"date_received\": \"2016-12-07T08:43:00.850Z\",      \"callback_url\": \"https://my.callback.url.com\",      \"destination_number\": \"+61491570156\",      \"source_number\": \"+61491570157\",      \"vendor_account_id\": {        \"vendor_id\": \"MessageMedia\",        \"account_id\": \"MyAccount\"      },      \"content\": \"My first reply!\"    },    {      \"metadata\": {        \"key1\": \"value1\",        \"key2\": \"value2\"      },      \"message_id\": \"8f2f5927-2e16-4f1c-bd43-47dbe2a77ae4\",      \"reply_id\": \"3d8d53d8-01d3-45dd-8cfa-4dfc81600f7f\",      \"date_received\": \"2016-12-07T08:43:00.850Z\",      \"callback_url\": \"https://my.callback.url.com\",      \"destination_number\": \"+61491570157\",      \"source_number\": \"+61491570158\",      \"vendor_account_id\": {        \"vendor_id\": \"MessageMedia\",        \"account_id\": \"MyAccount\"      },      \"content\": \"My second reply!\"    }  ]}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Check replies1",
            "x-testDescription": "Check for any replies that have been received.\nReplies are messages that have been sent from a handset in response to a message sent by an\napplication or messages that have been sent from a handset to a inbound number associated with\nan account, known as a dedicated inbound number (contact <support@messagemedia.com> for more\ninformation on dedicated inbound numbers).\nEach request to the check replies endpoint will return any replies received that have not yet\nbeen confirmed using the confirm replies endpoint. A response from the check replies endpoint\nwill have the following structure:\n```json\n{\n    \"replies\": [\n        {\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            },\n            \"message_id\": \"877c19ef-fa2e-4cec-827a-e1df9b5509f7\",\n            \"reply_id\": \"a175e797-2b54-468b-9850-41a3eab32f74\",\n            \"date_received\": \"2016-12-07T08:43:00.850Z\",\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"destination_number\": \"+61491570156\",\n            \"source_number\": \"+61491570157\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"content\": \"My first reply!\"\n        },\n        {\n            \"metadata\": {\n                \"key1\": \"value1\",\n                \"key2\": \"value2\"\n            },\n            \"message_id\": \"8f2f5927-2e16-4f1c-bd43-47dbe2a77ae4\",\n            \"reply_id\": \"3d8d53d8-01d3-45dd-8cfa-4dfc81600f7f\",\n            \"date_received\": \"2016-12-07T08:43:00.850Z\",\n            \"callback_url\": \"https://my.callback.url.com\",\n            \"destination_number\": \"+61491570157\",\n            \"source_number\": \"+61491570158\",\n            \"vendor_account_id\": {\n                \"vendor_id\": \"MessageMedia\",\n                \"account_id\": \"MyAccount\"\n            },\n            \"content\": \"My second reply!\"\n        }\n    ]\n}\n```\nEach reply will contain details about the reply message, as well as details of the message the reply was sent\nin response to, including any metadata specified. Every reply will have a reply ID to be used with the\nconfirm replies endpoint.\n*Note: The source number and destination number properties in a reply are the inverse of those\nspecified in the message the reply is in response to. The source number of the reply message is the\nsame as the destination number of the original message, and the destination number of the reply\nmessage is the same as the source number of the original message. If a source number\nwasn't specified in the original message, then the destination number property will not be present\nin the reply message.*\nSubsequent requests to the check replies endpoint will return the same reply messages and a maximum\nof 100 replies will be returned in each request. Applications should use the confirm replies endpoint\nin the following pattern so that replies that have been processed are no longer returned in\nsubsequent check replies requests.\n1. Call check replies endpoint\n2. Process each reply message\n3. Confirm all processed reply messages using the confirm replies endpoint\n*Note: It is recommended to use the Webhooks feature to receive reply messages rather than polling\nthe check replies endpoint.*"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/messages/{messageId}": {
      "get": {
        "description": "Retrieve the current status of a message using the message ID returned in the send messages end point.\nA successful request to the get message status endpoint will return a response body as follows:\n```json\n{\n    \"format\": \"SMS\",\n    \"content\": \"My first message!\",\n    \"metadata\": {\n        \"key1\": \"value1\",\n        \"key2\": \"value2\"\n    },\n    \"message_id\": \"877c19ef-fa2e-4cec-827a-e1df9b5509f7\",\n    \"callback_url\": \"https://my.callback.url.com\",\n    \"delivery_report\": true,\n    \"destination_number\": \"+61401760575\",\n    \"scheduled\": \"2016-11-03T11:49:02.807Z\",\n    \"source_number\": \"+61491570157\",\n    \"source_number_type\": \"INTERNATIONAL\"\n    \"message_expiry_timestamp\": \"2016-11-03T11:49:02.807Z\",\n    \"status\": \"enroute\"\n}\n```\nThe status property of the response indicates the current status of the message. See the Delivery\nReports section of this documentation for more information on message statues.\n*Note: If an invalid or non existent message ID parameter is specified in the request, then\na HTTP 404 Not Found response will be returned*",
        "summary": "Get message status",
        "tags": [
          "Messages"
        ],
        "operationId": "V1MessagesByMessageIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {}
          },
          "402": {
            "description": "The feature that you are trying to use is disabled by default. Please contact tech support at support@messagemedia.com.au",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Cancel a scheduled message that has not yet been delivered.\nA scheduled message can be cancelled by updating the status of a message from ```scheduled```\nto ```cancelled```. This is done by submitting a PUT request to the messages endpoint using\nthe message ID as a parameter (the same endpoint used above to retrieve the status of a message).\nThe body of the request simply needs to contain a ```status``` property with the value set\nto ```cancelled```.\n```json\n{\n    \"status\": \"cancelled\"\n}\n```\n*Note: Only messages with a status of scheduled can be cancelled. If an invalid or non existent\nmessage ID parameter is specified in the request, then a HTTP 404 Not Found response will be \nreturned*",
        "summary": "Cancel scheduled message",
        "tags": [
          "Messages"
        ],
        "operationId": "V1MessagesByMessageIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {}
          },
          "400": {
            "description": "Bad response",
            "schema": {}
          },
          "402": {
            "description": "The feature that you are trying to use is disabled by default. Please contact tech support at support@messagemedia.com.au",
            "schema": {}
          },
          "404": {
            "description": "Not found",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/messages": {
      "post": {
        "description": "Submit one or more (up to 100 per request) SMS or text to voice messages for delivery.\nThe most basic message has the following structure:\n```json\n{\n    \"messages\": [\n        {\n            \"content\": \"My first message!\",\n            \"destination_number\": \"+61491570156\"\n        }\n    ]\n}\n```\nMore advanced delivery features can be specified by setting the following properties in a message:\n- ```callback_url``` A URL can be included with each message to which Webhooks will be pushed to\n  via a HTTP POST request. Webhooks will be sent if and when the status of the message changes as\n  it is processed (if the delivery report property of the request is set to ```true```) and when replies\n  are received. Specifying a callback URL is optional.\n- ```content``` The content of the message. This can be a Unicode string, up to 5,000 characters long.\n  Message content is required.\n- ```delivery_report``` Delivery reports can be requested with each message. If delivery reports are requested, a webhook\n  will be submitted to the ```callback_url``` property specified for the message (or to the webhooks)\n  specified for the account every time the status of the message changes as it is processed. The\n  current status of the message can also be retrieved via the Delivery Reports endpoint of the\n  Messages API. Delivery reports are optional and by default will not be requested.\n- ```destination_number``` The destination number the message should be delivered to. This should be specified in E.164\n  international format. For information on E.164, please refer to http://en.wikipedia.org/wiki/E.164.\n  A destination number is required.\n- ```format``` The format specifies which format the message will be sent as, ```SMS``` (text message)\n  or ```TTS``` (text to speech). With ```TTS``` format, we will call the destination number and read out the\n  message using a computer generated voice. Specifying a format is optional, by default ```SMS``` will be used.\n- ```source_number``` A source number may be specified for the message, this will be the number that\n  the message appears from on the handset. By default this feature is _not_ available and will be ignored\n  in the request. Please contact <support@messagemeda.com> for more information. Specifying a source\n  number is optional and a by default a source number will be assigned to the message.\n- ```source_number_type``` If a source number is specified, the type of source number may also be\n  specified. This is recommended when using a source address type that is not an internationally\n  formatted number, available options are ```INTERNATIONAL```, ```ALPHANUMERIC``` or ```SHORTCODE```. Specifying a\n  source number type is only valid when the ```source_number``` parameter is specified and is optional.\n  If a source number is specified and no source number type is specified, the source number type will be\n  inferred from the source number, however this may be inaccurate.\n- ```scheduled``` A message can be scheduled for delivery in the future by setting the scheduled property.\n  The scheduled property expects a date time specified in ISO 8601 format. The scheduled time must be\n  provided in UTC and is optional. If no scheduled property is set, the message will be delivered immediately.\n- ```message_expiry_timestamp``` A message expiry timestamp can be provided to specify the latest time\n  at which the message should be delivered. If the message cannot be delivered before the specified\n  message expiry timestamp elapses, the message will be discarded. Specifying a message expiry \n  timestamp is optional.\n- ```metadata``` Metadata can be included with the message which will then be included with any delivery\n  reports or replies matched to the message. This can be used to create powerful two-way messaging\n  applications without having to store persistent data in the application. Up to 10 key / value metadata data\n  pairs can be specified in a message. Each key can be up to 100 characters long, and each value up to \n  256 characters long. Specifying metadata for a message is optional.\nThe response body of a successful POST request to the messages endpoint will include a ```messages```\nproperty which contains a list of all messages submitted. The list of messages submitted will\nreflect the list of messages included in the request, but each message will also contain two new\nproperties, ```message_id``` and ```status```. The returned message ID will be a 36 character UUID\nwhich can be used to check the status of the message via the Get Message Status endpoint. The status\nof the message which reflect the status of the message at submission time which will always be\n```queued```. See the Delivery Reports section of this documentation for more information on message\nstatues.\n*Note: when sending multiple messages in a request, all messages must be valid for the request to be successful.\nIf any messages in the request are invalid, no messages will be sent.*",
        "summary": "Send messages",
        "tags": [
          "Messages"
        ],
        "operationId": "V1MessagesPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination_number",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "source_number",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "source_number_type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "media",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "delivery_report",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": ""
          },
          {
            "name": "message_expiry_timestamp",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "callback_url",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "202": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SendMessagesResponse"
            },
            "examples": {
              "application/json": {
                "messages": [
                  {
                    "message_id": "04fe9a97-a579-43c5-bb1a-58ed29bf0a6a",
                    "callback_url": "https://my.url.com",
                    "status": "delivered",
                    "content": "My first message",
                    "destination_number": "+61491570156",
                    "delivery_report": true,
                    "format": "SMS",
                    "message_expiry_timestamp": "2016-11-03T11:49:02.807Z",
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2"
                    },
                    "scheduled": "2016-11-03T11:49:02.807Z",
                    "source_number": "+61491570157",
                    "source_number_type": "INTERNATIONAL"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Response",
            "schema": {}
          },
          "402": {
            "description": "The feature that you are trying to use is disabled by default. Please contact tech support at support@messagemedia.com.au",
            "schema": {}
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/v1/messages?destination_number=&source_number=&source_number_type=&format=&media=&delivery_report=&message_expiry_timestamp=&scheduled=&metadata=&callback_url=",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"messages\": [        {            \"callback_url\": \"https://my.callback.url.com\",            \"content\": \"My first message\",            \"destination_number\": \"+61491570156\",            \"delivery_report\": true,            \"format\": \"SMS\",            \"message_expiry_timestamp\": \"2016-11-03T11:49:02.807Z\",            \"metadata\": {                \"key1\": \"value1\",                \"key2\": \"value2\"            },            \"scheduled\": \"2016-11-03T11:49:02.807Z\",            \"source_number\": \"+61491570157\",            \"source_number_type\": \"INTERNATIONAL\"        },        {            \"callback_url\": \"https://my.callback.url.com\",            \"content\": \"My second message\",            \"destination_number\": \"+61491570158\",            \"delivery_report\": true,            \"format\": \"SMS\",            \"message_expiry_timestamp\": \"2016-11-03T11:49:02.807Z\",            \"metadata\": {                \"key1\": \"value1\",                \"key2\": \"value2\"            },            \"scheduled\": \"2016-11-03T11:49:02.807Z\",            \"source_number\": \"+61491570159\",            \"source_number_type\": \"INTERNATIONAL\"        }    ]}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"messages\": [    {      \"message_id\": \"04fe9a97-a579-43c5-bb1a-58ed29bf0a6a\",      \"callback_url\": \"https://my.url.com\",      \"status\": \"delivered\",      \"content\": \"My first message\",      \"destination_number\": \"+61491570156\",      \"delivery_report\": true,      \"format\": \"SMS\",      \"message_expiry_timestamp\": \"2016-11-03T11:49:02.807Z\",      \"metadata\": {        \"key1\": \"value1\",        \"key2\": \"value2\"      },      \"scheduled\": \"2016-11-03T11:49:02.807Z\",      \"source_number\": \"+61491570157\",      \"source_number_type\": \"INTERNATIONAL\"    }  ]}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": false,
            "x-testName": "Send messages1",
            "x-testDescription": "Submit one or more (up to 100 per request) SMS or text to voice messages for delivery.\nThe most basic message has the following structure:\n```json\n{\n    \"messages\": [\n        {\n            \"content\": \"My first message!\",\n            \"destination_number\": \"+61491570156\"\n        }\n    ]\n}\n```\nMore advanced delivery features can be specified by setting the following properties in a message:\n- ```callback_url``` A URL can be included with each message to which Webhooks will be pushed to\n  via a HTTP POST request. Webhooks will be sent if and when the status of the message changes as\n  it is processed (if the delivery report property of the request is set to ```true```) and when replies\n  are received. Specifying a callback URL is optional.\n- ```content``` The content of the message. This can be a Unicode string, up to 5,000 characters long.\n  Message content is required.\n- ```delivery_report``` Delivery reports can be requested with each message. If delivery reports are requested, a webhook\n  will be submitted to the ```callback_url``` property specified for the message (or to the webhooks)\n  specified for the account every time the status of the message changes as it is processed. The\n  current status of the message can also be retrieved via the Delivery Reports endpoint of the\n  Messages API. Delivery reports are optional and by default will not be requested.\n- ```destination_number``` The destination number the message should be delivered to. This should be specified in E.164\n  international format. For information on E.164, please refer to http://en.wikipedia.org/wiki/E.164.\n  A destination number is required.\n- ```format``` The format specifies which format the message will be sent as, ```SMS``` (text message)\n  or ```TTS``` (text to speech). With ```TTS``` format, we will call the destination number and read out the\n  message using a computer generated voice. Specifying a format is optional, by default ```SMS``` will be used.\n- ```source_number``` A source number may be specified for the message, this will be the number that\n  the message appears from on the handset. By default this feature is _not_ available and will be ignored\n  in the request. Please contact <support@messagemeda.com> for more information. Specifying a source\n  number is optional and a by default a source number will be assigned to the message.\n- ```source_number_type``` If a source number is specified, the type of source number may also be\n  specified. This is recommended when using a source address type that is not an internationally\n  formatted number, available options are ```INTERNATIONAL```, ```ALPHANUMERIC``` or ```SHORTCODE```. Specifying a\n  source number type is only valid when the ```source_number``` parameter is specified and is optional.\n  If a source number is specified and no source number type is specified, the source number type will be\n  inferred from the source number, however this may be inaccurate.\n- ```scheduled``` A message can be scheduled for delivery in the future by setting the scheduled property.\n  The scheduled property expects a date time specified in ISO 8601 format. The scheduled time must be\n  provided in UTC and is optional. If no scheduled property is set, the message will be delivered immediately.\n- ```message_expiry_timestamp``` A message expiry timestamp can be provided to specify the latest time\n  at which the message should be delivered. If the message cannot be delivered before the specified\n  message expiry timestamp elapses, the message will be discarded. Specifying a message expiry \n  timestamp is optional.\n- ```metadata``` Metadata can be included with the message which will then be included with any delivery\n  reports or replies matched to the message. This can be used to create powerful two-way messaging\n  applications without having to store persistent data in the application. Up to 10 key / value metadata data\n  pairs can be specified in a message. Each key can be up to 100 characters long, and each value up to \n  256 characters long. Specifying metadata for a message is optional.\nThe response body of a successful POST request to the messages endpoint will include a ```messages```\nproperty which contains a list of all messages submitted. The list of messages submitted will\nreflect the list of messages included in the request, but each message will also contain two new\nproperties, ```message_id``` and ```status```. The returned message ID will be a 36 character UUID\nwhich can be used to check the status of the message via the Get Message Status endpoint. The status\nof the message which reflect the status of the message at submission time which will always be\n```queued```. See the Delivery Reports section of this documentation for more information on message\nstatues.\n*Note: when sending multiple messages in a request, all messages must be valid for the request to be successful.\nIf any messages in the request are invalid, no messages will be sent.*"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "definitions": {
    "CheckDeliveryReportsResponse": {
      "title": "Check delivery reports response",
      "example": {
        "delivery_reports": [
          {
            "callback_url": "https://my.callback.url.com",
            "delivery_report_id": "01e1fa0a-6e27-4945-9cdb-18644b4de043",
            "source_number": "+61491570157",
            "date_received": "2017-05-20T06:30:37.642Z",
            "status": "enroute",
            "delay": 0,
            "submitted_date": "2017-05-20T06:30:37.639Z",
            "original_text": "My first message!",
            "message_id": "d781dcab-d9d8-4fb2-9e03-872f07ae94ba",
            "vendor_account_id": {
              "vendor_id": "MessageMedia",
              "account_id": "MyAccount"
            },
            "metadata": {
              "key1": "value1",
              "key2": "value2"
            }
          },
          {
            "callback_url": "https://my.callback.url.com",
            "delivery_report_id": "0edf9022-7ccc-43e6-acab-480e93e98c1b",
            "source_number": "+61491570158",
            "date_received": "2017-05-21T01:46:42.579Z",
            "status": "enroute",
            "delay": 0,
            "submitted_date": "2017-05-21T01:46:42.574Z",
            "original_text": "My second message!",
            "message_id": "fbb3b3f5-b702-4d8b-ab44-65b2ee39a281",
            "vendor_account_id": {
              "vendor_id": "MessageMedia",
              "account_id": "MyAccount"
            },
            "metadata": {
              "key1": "value1",
              "key2": "value2"
            }
          }
        ]
      },
      "type": "object",
      "properties": {
        "delivery_reports": {
          "description": "",
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "delivery_reports"
      ]
    },
    "ConfirmRepliesAsReceivedRequest8": {
      "title": "Confirm replies as received request8",
      "type": "object",
      "properties": {
        "reply_ids": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "required": [
        "reply_ids"
      ]
    },
    "ConfirmRepliesAsReceivedRequest": {
      "title": "Confirm replies as received request",
      "example": {
        "reply_ids": [
          "011dcead-6988-4ad6-a1c7-6b6c68ea628d",
          "3487b3fa-6586-4979-a233-2d1b095c7718",
          "ba28e94b-c83d-4759-98e7-ff9c7edb87a1"
        ]
      },
      "type": "object",
      "properties": {
        "reply_ids": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "reply_ids"
      ]
    },
    "CheckRepliesResponse": {
      "title": "Check replies response",
      "example": {
        "replies": [
          {
            "metadata": {
              "key1": "value1",
              "key2": "value2"
            },
            "message_id": "877c19ef-fa2e-4cec-827a-e1df9b5509f7",
            "reply_id": "a175e797-2b54-468b-9850-41a3eab32f74",
            "date_received": "2016-12-07T08:43:00.85Z",
            "callback_url": "https://my.callback.url.com",
            "destination_number": "+61491570156",
            "source_number": "+61491570157",
            "vendor_account_id": {
              "vendor_id": "MessageMedia",
              "account_id": "MyAccount"
            },
            "content": "My first reply!"
          },
          {
            "metadata": {
              "key1": "value1",
              "key2": "value2"
            },
            "message_id": "8f2f5927-2e16-4f1c-bd43-47dbe2a77ae4",
            "reply_id": "3d8d53d8-01d3-45dd-8cfa-4dfc81600f7f",
            "date_received": "2016-12-07T08:43:00.85Z",
            "callback_url": "https://my.callback.url.com",
            "destination_number": "+61491570157",
            "source_number": "+61491570158",
            "vendor_account_id": {
              "vendor_id": "MessageMedia",
              "account_id": "MyAccount"
            },
            "content": "My second reply!"
          }
        ]
      },
      "type": "object",
      "properties": {
        "replies": {
          "description": "",
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "replies"
      ]
    },
    "CancelScheduledMessageRequest": {
      "title": "Cancel scheduled message request",
      "type": "object",
      "properties": {
        "status": {
          "description": "",
          "type": "string"
        }
      },
      "required": [
        "status"
      ]
    },
    "SendMessagesResponse": {
      "title": "Send messages response",
      "example": {
        "messages": [
          {
            "message_id": "04fe9a97-a579-43c5-bb1a-58ed29bf0a6a",
            "callback_url": "https://my.url.com",
            "status": "delivered",
            "content": "My first message",
            "destination_number": "+61491570156",
            "delivery_report": true,
            "format": "SMS",
            "message_expiry_timestamp": "2016-11-03T11:49:02.807Z",
            "metadata": {
              "key1": "value1",
              "key2": "value2"
            },
            "scheduled": "2016-11-03T11:49:02.807Z",
            "source_number": "+61491570157",
            "source_number_type": "INTERNATIONAL"
          }
        ]
      },
      "type": "object",
      "properties": {
        "messages": {
          "description": "",
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "messages"
      ]
    },
    "SendMessagesRequest": {
      "title": "Send messages request",
      "type": "object",
      "properties": {
        "messages": {
          "description": "",
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "messages"
      ]
    },
    "ConfirmDeliveryReportsAsReceivedRequest": {
      "title": "Confirm delivery reports as received request",
      "example": {
        "delivery_report_ids": [
          "011dcead-6988-4ad6-a1c7-6b6c68ea628d",
          "3487b3fa-6586-4979-a233-2d1b095c7718",
          "ba28e94b-c83d-4759-98e7-ff9c7edb87a1"
        ]
      },
      "type": "object",
      "properties": {
        "delivery_report_ids": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "delivery_report_ids"
      ]
    },
    "ConfirmDeliveryReportsAsReceivedRequest11": {
      "title": "Confirm delivery reports as received request11",
      "type": "object",
      "properties": {
        "delivery_report_ids": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "required": [
        "delivery_report_ids"
      ]
    }
  }
}